.friendCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.online {
  color: green;
}

.offline {
  color: red;
}

.avatar {
  border-radius: 50%;
}

.name {
  margin: 0;
  font-size: 18px;
}

.statusText {
  margin: 0;
  font-size: 14px;
}
